<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.poindre.shua.post.ContentMapper">
    <resultMap id="BaseResultMap" type="com.poindre.shua.post.Content">
        <!--@mbg.generated-->
        <!--@Table content-->
        <id column="contentId" jdbcType="BIGINT" property="contentid"/>
        <result column="uuid" jdbcType="BIGINT" property="uuid"/>
        <result column="content" jdbcType="VARCHAR" property="content"/>
        <result column="type" jdbcType="INTEGER" property="type"/>
        <result column="type_ex" jdbcType="INTEGER" property="type_ex"/>
        <result column="hot" jdbcType="BIGINT" property="hot"/>
        <result column="sendTime" jdbcType="DATETIMEOFFSET" property="sendTime"/>
    </resultMap>
    <resultMap id="PostContentMap" type="com.poindre.shua.post.DetailContent">
        <id column="contentId" jdbcType="BIGINT" property="contentid"/>
        <result column="content" jdbcType="VARCHAR" property="content"/>
        <result column="uid" jdbcType="VARCHAR" property="uid"/>
        <result column="uuid" jdbcType="VARCHAR" property="uuid"/>
        <result column="signature" jdbcType="VARCHAR" property="signature"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        contentId, uuid, content, type, type_ex, hot, sendTime
    </sql>

    <select id="findAllPosts" resultMap="PostContentMap">
        select contentId, content.uuid, content, u.uid, i.signature, sendTime
        from content
                 join user u on content.uuid = u.uuid
                 join user_info i on u.uuid = i.id
        order by sendTime desc
    </select>

    <select id="findTypePosts" resultMap="PostContentMap">
        select contentId, content.uuid, content, u.uid, i.signature, sendTime
        from content
        join user u on content.uuid = u.uuid
        join user_info i on u.uuid = i.id
        where content.type = #{id, jdbcType=INTEGER}
        order by sendTime desc
    </select>

    <insert id="insertPost" parameterType="com.poindre.shua.post.Content">
        insert into content(uuid, content, type, type_ex, sendTime) VALUES(#{uuid,jdbcType=VARCHAR},
        #{content,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, #{type_ex,jdbcType=INTEGER},
        #{sendTime,jdbcType=TIMESTAMP})
    </insert>
</mapper>