<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.poindre.shua.mapper.PostTypMapper">
  <resultMap id="BaseResultMap" type="com.poindre.shua.domain.PostType">
    <!--@mbg.generated-->
    <!--@Table post_type-->
    <id column="typeId" jdbcType="INTEGER" property="typeid" />
    <result column="tag" jdbcType="VARCHAR" property="tag" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="ex" jdbcType="INTEGER" property="ex" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    typeId, tag, description, ex
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from post_type
    where typeId = #{typeid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from post_type
    where typeId = #{typeid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="typeId" keyProperty="typeid" parameterType="com.poindre.shua.domain.PostType" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into post_type (tag, description, ex
      )
    values (#{tag,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{ex,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" keyColumn="typeId" keyProperty="typeid" parameterType="com.poindre.shua.domain.PostType" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into post_type
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="tag != null">
        tag,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="ex != null">
        ex,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="tag != null">
        #{tag,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="ex != null">
        #{ex,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.poindre.shua.domain.PostType">
    <!--@mbg.generated-->
    update post_type
    <set>
      <if test="tag != null">
        tag = #{tag,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="ex != null">
        ex = #{ex,jdbcType=INTEGER},
      </if>
    </set>
    where typeId = #{typeid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.poindre.shua.domain.PostType">
    <!--@mbg.generated-->
    update post_type
    set tag = #{tag,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      ex = #{ex,jdbcType=INTEGER}
    where typeId = #{typeid,jdbcType=INTEGER}
  </update>
  <update id="updateBatch" parameterType="java.util.List">
    <!--@mbg.generated-->
    update post_type
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="tag = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when typeId = #{item.typeid,jdbcType=INTEGER} then #{item.tag,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="description = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when typeId = #{item.typeid,jdbcType=INTEGER} then #{item.description,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="ex = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when typeId = #{item.typeid,jdbcType=INTEGER} then #{item.ex,jdbcType=INTEGER}
        </foreach>
      </trim>
    </trim>
    where typeId in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.typeid,jdbcType=INTEGER}
    </foreach>
  </update>
  <update id="updateBatchSelective" parameterType="java.util.List">
    <!--@mbg.generated-->
    update post_type
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="tag = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.tag != null">
            when typeId = #{item.typeid,jdbcType=INTEGER} then #{item.tag,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="description = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.description != null">
            when typeId = #{item.typeid,jdbcType=INTEGER} then #{item.description,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="ex = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.ex != null">
            when typeId = #{item.typeid,jdbcType=INTEGER} then #{item.ex,jdbcType=INTEGER}
          </if>
        </foreach>
      </trim>
    </trim>
    where typeId in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.typeid,jdbcType=INTEGER}
    </foreach>
  </update>
  <insert id="batchInsert" keyColumn="typeId" keyProperty="typeid" parameterType="map" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into post_type
    (tag, description, ex)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.tag,jdbcType=VARCHAR}, #{item.description,jdbcType=VARCHAR}, #{item.ex,jdbcType=INTEGER}
        )
    </foreach>
  </insert>
  <insert id="insertOrUpdate" keyColumn="typeId" keyProperty="typeid" parameterType="com.poindre.shua.domain.PostType" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into post_type
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="typeid != null">
        typeId,
      </if>
      tag,
      description,
      ex,
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="typeid != null">
        #{typeid,jdbcType=INTEGER},
      </if>
      #{tag,jdbcType=VARCHAR},
      #{description,jdbcType=VARCHAR},
      #{ex,jdbcType=INTEGER},
    </trim>
    on duplicate key update 
    <trim suffixOverrides=",">
      <if test="typeid != null">
        typeId = #{typeid,jdbcType=INTEGER},
      </if>
      tag = #{tag,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      ex = #{ex,jdbcType=INTEGER},
    </trim>
  </insert>
  <insert id="insertOrUpdateSelective" keyColumn="typeId" keyProperty="typeid" parameterType="com.poindre.shua.domain.PostType" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into post_type
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="typeid != null">
        typeId,
      </if>
      <if test="tag != null">
        tag,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="ex != null">
        ex,
      </if>
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="typeid != null">
        #{typeid,jdbcType=INTEGER},
      </if>
      <if test="tag != null">
        #{tag,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="ex != null">
        #{ex,jdbcType=INTEGER},
      </if>
    </trim>
    on duplicate key update 
    <trim suffixOverrides=",">
      <if test="typeid != null">
        typeId = #{typeid,jdbcType=INTEGER},
      </if>
      <if test="tag != null">
        tag = #{tag,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="ex != null">
        ex = #{ex,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>