<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.poindre.shua.user.star.UserStarMapper">
    <resultMap id="BaseResultMap" type="com.poindre.shua.user.star.UserStar">
        <!--@mbg.generated-->
        <!--@Table user_star-->
        <result column="uuid" jdbcType="VARCHAR" property="uuid"/>
        <result column="type_id" jdbcType="INTEGER" property="typeId"/>
        <result column="time" jdbcType="TIMESTAMP" property="time"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        uuid, type_id, `time`
    </sql>
    <insert id="insert" parameterType="com.poindre.shua.user.star.UserStar">
        <!--@mbg.generated-->
        insert into user_star (uuid, type_id, `time`
        )
        values (#{uuid,jdbcType=VARCHAR}, #{typeId,jdbcType=INTEGER}, #{time,jdbcType=TIMESTAMP}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.poindre.shua.user.star.UserStar">
        <!--@mbg.generated-->
        insert into user_star
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="uuid != null">
                uuid,
            </if>
            <if test="typeId != null">
                type_id,
            </if>
            <if test="time != null">
                `time`,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="uuid != null">
                #{uuid,jdbcType=VARCHAR},
            </if>
            <if test="typeId != null">
                #{typeId,jdbcType=INTEGER},
            </if>
            <if test="time != null">
                #{time,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <insert id="batchInsert" parameterType="map">
        <!--@mbg.generated-->
        insert into user_star
        (uuid, type_id, `time`)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.uuid,jdbcType=VARCHAR}, #{item.typeId,jdbcType=INTEGER}, #{item.time,jdbcType=TIMESTAMP}
            )
        </foreach>
    </insert>
    <insert id="insertOrUpdate" parameterType="com.poindre.shua.user.star.UserStar">
        <!--@mbg.generated-->
        insert into user_star
        (uuid, type_id, `time`)
        values
        (#{uuid,jdbcType=VARCHAR}, #{typeId,jdbcType=INTEGER}, #{time,jdbcType=TIMESTAMP}
        )
        on duplicate key update
        uuid = #{uuid,jdbcType=VARCHAR},
        type_id = #{typeId,jdbcType=INTEGER},
        `time` = #{time,jdbcType=TIMESTAMP}
    </insert>
    <insert id="insertOrUpdateSelective" parameterType="com.poindre.shua.user.star.UserStar">
        <!--@mbg.generated-->
        insert into user_star
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="uuid != null">
                uuid,
            </if>
            <if test="typeId != null">
                type_id,
            </if>
            <if test="time != null">
                `time`,
            </if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="uuid != null">
                #{uuid,jdbcType=VARCHAR},
            </if>
            <if test="typeId != null">
                #{typeId,jdbcType=INTEGER},
            </if>
            <if test="time != null">
                #{time,jdbcType=TIMESTAMP},
            </if>
        </trim>
        on duplicate key update
        <trim suffixOverrides=",">
            <if test="uuid != null">
                uuid = #{uuid,jdbcType=VARCHAR},
            </if>
            <if test="typeId != null">
                type_id = #{typeId,jdbcType=INTEGER},
            </if>
            <if test="time != null">
                `time` = #{time,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <select id="findStaredType" parameterType="String" resultMap="BaseResultMap">
        select * from user_star where uuid = #{uuid,jdbcType=VARCHAR}
    </select>
    <delete id="deleteType" parameterType="com.poindre.shua.user.star.UserStar">
        delete from user_star where uuid = #{uuid,jdbcType=VARCHAR} and type_id = #{typeId,jdbcType=INTEGER}
    </delete>
</mapper>